.midle {
    display: flex;
    justify-content: center;
}

.title {
    margin-bottom: 20px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    color: brown;
    text-align: center;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.number-text {
    font-size: 20px;
    margin-bottom: 10px;
}

#number1 {
    max-width: 40px;
    border: 2px solid green;
    border-radius: 4px;
    margin-bottom: 10px;
}
#number2 {
    max-width: 40px;
    border: 2px solid red;
    border-radius: 4px;
    margin-bottom: 10px;
}
#res {
    max-width: 100px;
    border: 2px solid blue;
    border-radius: 4px;
    margin-bottom: 10px;
}

.value__text {
    font-size: 20px;
    text-align: center;
    color: blueviolet;
}

.operators {
    display: flex;
    flex-direction: column;
}
#operators-plus{
    color: green;
    background-color: aquamarine;
    margin-bottom: 10px;
}
#operators-minus {
    color:black;
    background-color:crimson;
    margin-bottom: 10px;
}
#operators-multiply {
    color:black;
    background-color:blueviolet;
    margin-bottom: 10px;
}
#operators-division {
    color:black;
    background-color:deeppink;
    margin-bottom: 10px;
}

